<div class="country__card">
<img src="{{flags.png}}" alt="flag of country" class="country__flag">
<h1 class="country__name">{{name.official}}</h1>
<ul>
    <li class="country__properties">{{capital}}</li>
    <li class="country__properties">{{population}}</li>
    <li class="country__properties">{{languages}}</li>
</ul>
</div>