{{#each this}}
<div class="country__card">
<img src="{{flags.png}}" alt="flag of country" class="country__flag">
<h1 class="country__name">{{name.official}}</h1>
    <p class="country__properties">Capital: {{capital}}</p>
    <p class="country__properties">Population: {{population}}</p>
    <p class="country__properties">Language: {{#each languages}}
        {{#if @index}},{{/if}} {{this}}{{/each}}
    </p>
</div>
{{/each}}